<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>테스트 페이지</title>
    </head>
    <body>
        <h1>This is a template engine Ejs</h1>
        <ul>
            <% for (var i = 0 ; i < 10; i++) { %>
                <li> ejs list </li>
            <% } %>
        </ul>
        <h2><%= text%></h2> 
        <h2><%= date%></h2>
    </body>
</html>